<html>
  <head></head>
  <body>
    <p>
     Let's do this. Guess a number.
    </p>
    <p>
     <%= message %>
    </p>
  </body>
  <form>
    <input type='text' name='guess' />
    <input type='submit' value='Guess!'/>
  </form>
</html>
